# Date as an input Argument

In [1]:
import boto3
import pandas as pd
from io import StringIO, BytesIO
from datetime import datetime, timedelta

In [2]:
# Addapter Layer

def read_csv_to_df(bucket, key, decoding = "utf-8", sep = ","):
    csv_obj = bucket.Object(key = key).get().get("Body").read().decode(decoding)
    data = StringIO(csv_obj)
    df = pd.read_csv(data, delimiter = sep)
    return df

def write_df_to_s3(bucket, df, key):
    out_buffer = BytesIO()
    df.to_parquet(out_buffer, index = False)
    bucket.put_object(Body = out_buffer.getvalue(), Key = key)
    return True

def write_df_to_s3_csv(bucket, df, key):
    out_buffer = StringIO()
    df.to_csv(out_buffer, index = False)
    bucket.put_object(Body = out_buffer.getvalue(), Key = key)
    return True

def list_files_in_prefix(bucket, prefix):
    files = [obj.key for obj in bucket.objects.filter(Prefix = prefix)]
    return files

In [3]:
# Application Layer

def extract(bucket, date_list):
    files = [key for date in date_list for key in list_files_in_prefix(bucket, date)]
    df = pd.concat([read_csv_to_df(bucket, obj) for obj in files], ignore_index = True)
    return df
    
def transform_report1(df, columns, arg_date):
    df = df.loc[:, columns]
    df.dropna(inplace = True)
    df["opening_price"] = df.sort_values(by=["Time"]).groupby(["ISIN", "Date"])["StartPrice"].transform("first")
    df["closing_price"] = df.sort_values(by=["Time"]).groupby(["ISIN", "Date"])["StartPrice"].transform("last")
    df = df.groupby(["ISIN", "Date"], as_index = False).agg(opening_price_eur = ("opening_price", "min"),
                                                                closing_price_eur = ("closing_price", "min"), 
                                                                minimum_price_eur = ("MinPrice", "min"),
                                                                maximum_price_eur = ("MaxPrice", "max"),
                                                                daily_traded_volume = ("TradedVolume", "sum"))
    df["prev_closing_price"] = df.sort_values(by = ["Date"]).groupby(["ISIN"])["closing_price_eur"].shift(1)
    df["change_prev_closing_%"] = (df["closing_price_eur"] - df["prev_closing_price"]) / df["prev_closing_price"] * 100
    df.drop(columns = ["prev_closing_price"], inplace = True)
    df = df.round(2)
    df = df[df.Date >= arg_date]
    return df

def load(bucket, df, trg_key, trg_format, meta_key, extract_date_list):
    key = trg_key + datetime.today().strftime("%Y%m%d_%H%M%S") + trg_format
    write_df_to_s3(bucket, df, key)
    update_meta_file(bucket, meta_key, extract_date_list)
    return True
    
def etl_report1(src_bucket, trg_bucket, date_list, columns, arg_date, trg_key, trg_format, meta_key):
    df =  extract(src_bucket, date_list)
    df = transform_report1(df, columns, arg_date)
    extract_date_list = [date for date in date_list if date >= arg_date]
    load(trg_bucket, df, trg_key, trg_format, meta_key, extract_date_list)
    return True

In [4]:
# Application layer - not core

def return_date_list(bucket, arg_date, src_format, meta_key):
    min_date = datetime.strptime(arg_date, src_format).date() - timedelta(days = 1)
    today = datetime.today().date()
    try:
        df_meta = read_csv_to_df(bucket, meta_key)
        dates = [(min_date + timedelta(days = x)) for x in range(0, (today - min_date).days + 1)]
        src_dates = set(pd.to_datetime(df_meta["source_date"]).dt.date)
        dates_missing = set(dates[1:]) - src_dates
        if dates_missing:
            min_date = min(set(dates[1:]) - src_dates) - timedelta(days = 1)
            return_dates = [date.strftime(src_format) for date in dates if date >= min_date]
            return_min_date = (min_date + timedelta(days = 1)).strftime(src_format)
        else:
            return_dates = []
            return_min_date = datetime(2200, 1, 1).date()
    except bucket.session.client("s3").exceptions.NoSuchKey:
        return_dates = [(min_date + timedelta(days = x)).strftime(src_format) for x in range(0, (today - min_date).days + 1)]
        return_min_date = arg_date
    return return_min_date, return_dates

def update_meta_file(bucket, meta_key, extract_date_list):
    df_new = pd.DataFrame(columns = ["source_date", "datetime_of_processing"])
    df_new["source_date"] = extract_date_list
    df_new["datetime_of_processing"] = datetime.today().strftime("%Y%m%d_%H%M%S")#("%Y-%m-%d")
    df_old = read_csv_to_df(bucket, meta_key)
    df_all = pd.concat([df_old, df_new])
    write_df_to_s3_csv(bucket, df_all, meta_key)

In [5]:
# main function entry point

def main():
    # Parameters/ Configurations
    # Later read as config
    arg_date = "2022-02-10"
    src_format = "%Y-%m-%d"
    src_bucket = "deutsche-boerse-xetra-pds"
    trg_bucket = "xetra--1234"
    columns = ['ISIN', 'Date', 'Time', 'StartPrice', 'MaxPrice', 'MinPrice', 'EndPrice', 'TradedVolume']
    trg_key = "xetra_daily_report_"
    trg_format = ".parquet"
    meta_key = "meta_file.csv"
    
    # Init
    s3 = boto3.resource("s3")
    bucket_src = s3.Bucket(src_bucket)
    bucket_trg = s3.Bucket(trg_bucket)
    
    # run application 
    extract_date, date_list = return_date_list(bucket_trg, arg_date, src_format, meta_key)
    etl_report1(bucket_src, bucket_trg, date_list, columns, extract_date, trg_key, trg_format, meta_key)

In [6]:
# run 
main()

## Read the uploaded file

In [7]:
trg_bucket = "xetra--1234"
s3 = boto3.resource("s3")
bucket_trg = s3.Bucket(trg_bucket)

for obj in bucket_trg.objects.all():
    print(obj.key)

meta_file.csv
xetra_daily_report20220209_205648.parquet
xetra_daily_report_20220210_215428.parquet
xetra_daily_report_20220211_144314.parquet
xetra_daily_report_20220211_145344.parquet
xetra_daily_report_20220211_150025.parquet

In [11]:
prq_obj = bucket_trg.Object(key = "xetra_daily_report_20220211_150025.parquet").get().get("Body").read()
data = BytesIO(prq_obj)
df_report = pd.read_parquet(data)

In [12]:
df_report

,ISIN,Date,opening_price_eur,closing_price_eur,minimum_price_eur,maximum_price_eur,daily_traded_volume,change_prev_closing_%
0,AT000000STR1,2022-02-10,38.95,38.95,38.95,39.45,147,0.91
1,AT000000STR1,2022-02-11,39.15,39.10,38.65,39.60,914,0.39
2,AT00000FACC2,2022-02-10,9.30,9.25,9.22,9.43,620,-1.39
3,AT00000FACC2,2022-02-11,9.20,9.37,9.20,9.37,555,1.30
4,AT0000606306,2022-02-10,28.22,28.20,27.96,28.36,4765,0.28
...,...,...,...,...,...,...,...,...
6136,XS2314659447,2022-02-11,8.78,8.81,8.78,8.92,115,-1.63
6137,XS2314660700,2022-02-10,20.91,20.69,20.69,21.01,801,1.10
6138,XS2314660700,2022-02-11,20.43,20.58,20.43,20.75,50,-0.55
6139,XS2376095068,2022-02-10,38.53,39.25,38.53,39.52,2233,2.48
6140,XS2376095068,2022-02-11,38.02,37.95,37.95,38.02,0,-3.33

In [10]:
26

26